<!DOCTYPE html>
<html lang="tr-TR" class="htmlNS scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-Frame-Options" content="DENY">
    <title><%= pageTitle %></title>
    <link rel="icon" href="/images/favIcon.svg" type="image/x-icon" id="EseSoftware">
    <link rel="stylesheet" href="../../styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- Start cookieyes banner --> <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/8f99896837a490ce8ae467d7/script.js"></script> <!-- End cookieyes banner -->
     <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MY5PJM12QG"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

    gtag('config', 'G-MY5PJM12QG');
    </script>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "Esesoftware",
          "url": "https://esesoftware.com",
          "logo": "https://esesoftware.com/logoiconw.svg",
          "image": "https://esesoftware.com/logoiconw.svg",
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+90-542-173-3348",
            "contactType": "Customer Service",
            "areaServed": "TR",
            "availableLanguage": "Turkish"
          },
          "sameAs": [
            "https://www.facebook.com/esesoftwareservices",
            "https://www.twitter.com/esesoftwaretr",
            "https://www.linkedin.com/company/esesoftware",
            "https://www.instagram.com/esesoftware"
          ],
          "description": "Esesoftware, modern ve kullanıcı dostu web tasarım, yazılım geliştirme, Google Cloud hizmetleri ve daha fazlasını sunan bir teknoloji şirketidir.",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Eskibağlar, Sakman Sk. No:57 Kat:1 Daire:3",
            "addressLocality": "Eskişehir",
            "postalCode": "26170",
            "addressCountry": "TR"
          },
          "foundingDate": "2023",
          "founders": [
            {
              "@type": "Person",
              "name": "Mehmet GÜNGÖR"
            },
            {
              "@type": "Person",
              "name": "Yakup ARSLAN"
            }
          ],
          "makesOffer": [
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Web Tasarım",
                "description": "Modern ve kullanıcı dostu web tasarım hizmetleri.",
                "url": "https://www.esesoftware.com/web-tasarim"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Yazılım Geliştirme",
                "description": "İş ihtiyaçlarınıza özel yazılım çözümleri.",
                "url": "https://www.esesoftware.com/yazilim-gelistirme"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Google Cloud Hizmetleri",
                "description": "Güvenli ve ölçeklenebilir bulut çözümleri.",
                "url": "https://www.esesoftware.com/google-cloud-hizmetleri"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Kurumsal İntranet Çözümleri",
                "description": "İşletmeniz için güvenli ve verimli intranet çözümleri.",
                "url": "https://www.esesoftware.com/kurumsal-intranet-cozumleri"
              }
            }
          ]
        }
        </script>
        
</head>
