<div class="w-full h-16"></div>
<main class="servicesMainCH overflow-hidden bg-[#060d1805]">
    
    <div id="mainFirstElem" class="relative z-20 mb-[561px] flex items-stretch w-full overflow-hidden">
        <div class="areaX w-[22.5%] hidden lg:block border-r-2 bg-[#efefef] border-r-[#8080802e]"></div>
        <div id="scrollableElem" class="relative bg-white areaY w-full lg:w-[55%] h-full overflow-y-auto pb-[50px] pt-10">
            <div class="fixed py-2 h-auto w-[86.5%] lg:w-[49.5%] top-[70px] lg:top-[76px] left-1/2 opacity-100 visible translate-x-centery bg-[#1e2125] rounded-lg transition-all duration-300 flex items-center z-[11]" data-pageNav>