<nav class="flex flex-wrap gap-1 lg:block text-slate-200 text-xs tracking-wider pl-3">
    <a href="/" class="bg-[#efefef] px-[6px] pb-[3px] pt-[2px] rounded">&#x1F3E0;</a>
    <span class="pt-[2px] font-bold text-[#422d48]">&gt;</span>
    <a href="#" class="bg-[#efefef] font-custom-medium text-[#422d48] px-[6px] pb-[3px] pt-[2px] rounded" data-pageNavLink="l1"><%- thePathArr[0] %></a>
    <span class="font-bold pt-[2px] text-[#422d48]">&gt;</span>
    <a href="#" class="bg-[#efefef] font-custom-medium text-[#422d48] px-[6px] pb-[3px] pt-[2px] rounded" data-pageNavLink="l2"><%- thePathArr[1] %></a> 
    <span class="font-bold pt-[2px] text-[#422d48]">&gt;</span> 
    <a href="#" class="bg-[#efefef] font-custom-medium text-[#422d48] px-[6px] pb-[3px] pt-[2px] rounded" data-pageNavLink="l3"><%- thePathArr[2] %></a>
</nav>