<nav class="flex flex-wrap gap-1 lg:block text-slate-200 text-xs tracking-wider pl-3">
    <a href="/" class="bg-[#353d47] px-[6px] pb-[3px] pt-[2px] rounded">&#x1F3E0;</a>
    <span class="font-custom-medium pt-[2px]">&gt;</span>
    <a href="#" class="bg-[#353d47] px-[6px] pb-[3px] pt-[2px] rounded" data-pageNavLink="l1"><%- thePathArr[0] %></a>
    <span class="font-custom-medium pt-[2px]">&gt;</span>
    <a href="#" class="bg-[#353d47] px-[6px] pb-[3px] pt-[2px] rounded" data-pageNavLink="l2"><%- thePathArr[1] %></a> 
    <span class="font-custom-medium pt-[2px]">&gt;</span> 
    <a href="#" class="bg-[#353d47] px-[6px] pb-[3px] pt-[2px] rounded" data-pageNavLink="l3"><%- thePathArr[2] %></a>
</nav>