@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto-mono-thin {
  @apply font-mono font-thin;
}

.roboto-mono-light {
  @apply font-mono font-light;
}

.roboto-mono-regular {
  @apply font-mono font-normal;
}

.roboto-mono-medium {
  @apply font-mono font-medium;
}

.roboto-mono-bold {
  @apply font-mono font-bold;
}

.bgGradient {
  background: rgb(124, 0, 255);
  background: radial-gradient(
    circle,
    rgba(124, 0, 255, 1) 0%,
    rgba(40, 0, 25, 1) 0%,
    rgba(9, 18, 127, 1) 100%,
    rgba(0, 172, 17, 0.5494572829131652) 100%
  );
}

.ulAnchorElem:hover + div {
  width: 100%;
  left: 0;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate360 7s infinite linear running;
}
.rotate-animation:hover {
  animation: rotate360 7s infinite linear paused;
}




#getStardedBtn:hover::before {
  box-shadow: 0px 0px 20px 3px #a058eeb6;
}

.mainCustomheigth {                              /*  Bu pseudo-element, kaydırma çubuğunun tamamını hedef alır.  */
  height: calc(100vh - 64px);
  &::-webkit-scrollbar {
    width: 10px;
    background: #969696;
  }
  &::-webkit-scrollbar-button {                 /*  Kaydırma çubuğunun başında ve sonunda bulunan ok düğmelerini hedef alır.  */
    background: #ccc; /* Düğmelerin arka plan rengi */
    height: 0px; /* Düğmelerin yüksekliği */
    width: 0px; /* Düğmelerin genişliği */
  }
  &::-webkit-scrollbar-thumb {                  /*  Kaydırma çubuğunun, sayfanın neresinde olduğunuzu gösteren sürüklenebilir kısmını hedef alır. */
    background: #738cc2;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {                  /*  Kaydırma çubuğunun thumb kısmının üzerinde hareket ettiği yolu hedef alır.  */
    background: #004165;
  }
  &::-webkit-resizer {
    background: #888; /* Resizer kısmının arka plan rengi */
  }
}


