@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto-mono-thin {
  @apply font-mono font-thin;
}

.roboto-mono-light {
  @apply font-mono font-light;
}

.roboto-mono-regular {
  @apply font-mono font-normal;
}

.roboto-mono-medium {
  @apply font-mono font-medium;
}

.roboto-mono-bold {
  @apply font-mono font-bold;
}

.bgGradient {
  background: rgb(124, 0, 255);
  background: radial-gradient(
    circle,
    rgba(124, 0, 255, 1) 0%,
    rgba(40, 0, 25, 1) 0%,
    rgba(9, 18, 127, 1) 100%,
    rgba(0, 172, 17, 0.5494572829131652) 100%
  );
}

.ulAnchorElem:hover + div {
  width: 100%;
  left: 0;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate360 7s infinite linear running;
}
.rotate-animation:hover {
  animation: rotate360 7s infinite linear paused;
}




#getStardedBtn:hover::before {
  box-shadow: 0px 0px 20px 3px #a058eeb6;
}





