@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

.roboto-mono-thin {
  @apply font-mono font-thin;
}

.roboto-mono-light {
  @apply font-mono font-light;
}

.roboto-mono-regular {
  @apply font-mono font-normal;
}

.roboto-mono-medium {
  @apply font-mono font-medium;
}

.roboto-mono-bold {
  @apply font-mono font-bold;
}
.merriweather-light {
  @apply font-merriweather font-light;
}

.merriweather-light-italic {
  @apply font-merriweather font-light italic;
}

.merriweather-regular {
  @apply font-merriweather font-normal;
}

.merriweather-regular-italic {
  @apply font-merriweather font-normal italic;
}

.merriweather-bold {
  @apply font-merriweather font-bold;
}

.merriweather-bold-italic {
  @apply font-merriweather font-bold italic;
}

.merriweather-black {
  @apply font-merriweather font-black;
}

.merriweather-black-italic {
  @apply font-merriweather font-black italic;
}

#getContactBtn {
  box-shadow: 0 0 10px 10px transparent;
}
#getContactBtn:hover {
  box-shadow: 0 0 10px 10px #461a32;
}

.bgGradient {
  background: rgb(124, 0, 255);
  background: radial-gradient(
    circle,
    rgba(124, 0, 255, 1) 0%,
    rgba(40, 0, 25, 1) 0%,
    rgba(9, 18, 127, 1) 100%,
    rgba(0, 172, 17, 0.5494572829131652) 100%
  );
}

.ulAnchorElem:hover + div {
  width: 100%;
  left: 0;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate360 7s infinite linear running;
}
.rotate-animation:hover {
  animation: rotate360 7s infinite linear paused;
}

#getStardedBtn:hover::before {
  box-shadow: 0px 0px 20px 3px #a058eeb6;
}

.mainCustomheigth {
  /*  Bu pseudo-element, kaydırma çubuğunun tamamını hedef alır.  */
  height: calc(100vh - 64px);
  &::-webkit-scrollbar {
    width: 10px;
    background: #969696;
  }
  &::-webkit-scrollbar-button {
    /*  Kaydırma çubuğunun başında ve sonunda bulunan ok düğmelerini hedef alır.  */
    background: #ccc; /* Düğmelerin arka plan rengi */
    height: 0px; /* Düğmelerin yüksekliği */
    width: 0px; /* Düğmelerin genişliği */
  }
  &::-webkit-scrollbar-thumb {
    /*  Kaydırma çubuğunun, sayfanın neresinde olduğunuzu gösteren sürüklenebilir kısmını hedef alır. */
    background: #738cc2;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    /*  Kaydırma çubuğunun thumb kısmının üzerinde hareket ettiği yolu hedef alır.  */
    background: #004165;
  }
  &::-webkit-resizer {
    background: #888; /* Resizer kısmının arka plan rengi */
  }
}

.aiLayerTop {
  background-image: url("/images/aibgSvg.svg");
}

.bgDeneme {
  position: relative;
}
.bgDeneme::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, rgba(6, 13, 24, 0) 0%, rgba(6, 13, 24, 1) 100%);
}

.contactFormT {
  position: relative;
}

.contactLabelT {
  position: relative;
  color: #67afb1;
  transition: all .4s ease;
  font-size: 16px;
  top: 15px;
  left: 10px;
}

#contactSubmiBtn {
  box-shadow: 0 0 10px 10px transparent;
}
#contactSubmiBtn:hover {
  box-shadow: 0 0 10px 10px #461a32;
}

.textGrad {
  background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img.logo {
  @apply w-auto h-6 text-slate-900 dark:text-white;
}

.logoSlide {
  display: inline-block;
  animation: 19s slide infinite linear;
  min-width: 1659px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Cards */
/* body {
  background-color: black;
} */

.container {
  width: 1200px !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 992px) and (max-width: 1439px) {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }

  @media screen and (max-width: 991px) {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 26px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.card {
  max-width: 550px;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 1px solid #d3d3d340;
  background: transparent;
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  transition: all .4s linear;
  img {
    margin-bottom: 32px;
  }
}
.container-card:hover {
  cursor: pointer;
  position: relative;
  border: 1px solid lightgrey;
  background: linear-gradient(180deg, #422d48, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  img {
    margin-bottom: 32px;
  }
}
.container-card:hover .card-description {
  color: white
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: #ffffff99;
  font-size: 16px;
  max-width: 470px;
}
#locationBtn {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 45%;
    animation-name: locationIcon;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 35%;
    width: 20%;
    height: 25%;
    background-image: url("/images/location.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@keyframes locationIcon {
  0% {
    top: 35%;
    transform: rotateY(0deg) scale(1);
  }
  25% {
    top: 15%;
    transform: rotateY(90deg) scale(.8);
  }
  50% {
    top: 8%;
    transform: rotateY(180deg) scale(.7);
  }
  75% {
    top: 15%;
    transform: rotateY(270deg) scale(.8);
  }
  100% {
    top: 35%;
    transform: rotateY(359deg) scale(1);
  }
}



/* Sık Sorulan Sorular Başlangıç */

.sssArea li {
  transition: all .5s linear;
}
.sssInnerLi h4 {
  transition: all .5s linear;
}
.sssInnerLi:has(.acordionInnerBody.showBody) h4 {
  color: #3cb063; 
}
.sssTopLi:has(.acordionTopBody.showBody) h3 {
  color: white;
}
.acordionTopBody {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  /* transition: all .5s linear; */
  transition: max-height .5s linear, opacity .4s linear, visibility .4s linear;
}
.acordionTopBody.showBody {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

.acordionInnerBody {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: max-height .5s linear, opacity .4s linear, visibility .4s linear;
}
.acordionInnerBody.showBody {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

.sssBigBtn:hover,
.sssBigBtn:hover {
  span {
    &::before, &::after {
      background-color: white;
    }
  }
}
.sssSmBtn:hover,
.sssSmBtn:hover {
  span {
    &::before, &::after {
      background-color: white;
    }
  }
}

.topLiBtnAnim {
  position: relative;
  width: 10px;
  height: 10px;
}
.topLiBtnAnim::before {
  position: relative;
  width: 20px;
  height: 3px;
  opacity: 1;
}
.topLiBtnAnim::after {
  position: relative;
  width: 3px;
  height: 20px;
  opacity: 1;
}
.topLiBtnAnim::before,
.topLiBtnAnim::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  background-color: #9ca3af;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: top .5s linear, transform .5s linear, left .5s linear, opacity .5s linear, background-color .2s linear;
  /* transition: all .5s linear; */
}

.topLiBtnAnim.active {
  &::before {
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 0;
  }
  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}


.innerLiBtnAnim {
  position: relative;
  width: 10px;
  height: 10px;
}
.innerLiBtnAnim::before {
  position: relative;
  width: 12px;
  height: 2px;
  opacity: 1;
}
.innerLiBtnAnim::after {
  position: relative;
  width: 2px;
  height: 12px;
  opacity: 1;
}
.innerLiBtnAnim::before,
.innerLiBtnAnim::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  background-color: #ccc;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: top .5s linear, left .5s linear, opacity .5s linear, transform .5s linear, background-color .2s linear;
}

.innerLiBtnAnim.active {
  &::before {
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 0;
  }
  &::after { 
    transform: translate(-50%, -50%) rotate(90deg);
  }
}


/* Yapay zeka alanı */

.aiBg {
  background-image: url("/images/aibgbyfreepik.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 700px;
  border-radius: 50px;
}